/* forms */
.error {
    //color: $red !important;
    border-color: $yellow !important;
}
label.error {
    display: none !important;
}
// .success {
//     color: $green !important;
//     border-color: $green !important;
// }
.disabled {
    color: $gray !important;
    border-color: $gray !important;
    cursor: default !important;
}
input.input-text,
span.input-text {
    text-align: center;
    color: $w;
    width: 100%;
    float: left;
    border: 1px solid $white;
    font-weight: 500;
    background: $tr;
    height: 34px;
    font-size: 16px;
    padding: 5px 10px;
    @include border-radius(0);
    @include transition(color $d $f, background-color $d $f, border-color $d $f);
    @include placeholder {
        color: #9B9B9B;
    }
    &-inline {
        float: none;
        width: auto;
        display: inline-block;
    }
    &-139 {
        width: 139px;
        padding-left: 5px;
        padding-right: 5px;
    }
    &-73 {
        width: 73px;
        padding-left: 5px;
        padding-right: 5px;
    }
    &-52 {
        width: 52px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
span.input-text {
    cursor: pointer;
}
textarea.textarea {
    @extend input.input-text;
    font-family: $fontFamily;
    overflow: auto;
    height: auto;
}
select.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: center;
    color: $w;
    width: 100%;
    float: left;
    border: 1px solid $white;
    background: $tr;
    height: 34px;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center !important;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    @include border-radius(0);
    &-inline {
        float: none;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        // top: -1px;
        // position: relative;
    }
    &-139 {
        width: 139px;
        padding-left: 5px;
        padding-right: 5px;
    }
    &-73 {
        width: 73px;
        padding-left: 5px;
        padding-right: 5px;
    }
    &-52 {
        width: 52px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
select.select::-ms-expand {
    display: none;
}
.checkbox,
.radio {
    display: block;
    input {
        display: none;
        &:checked + label {
        }
        &:disabled + label {
        }
    }
    label {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
a.button,
input.button,
button.button {
    font-size: $fontSize;
    color: $bg;
    text-align: center;
    line-height: 31px;
    font-weight: 500;
    width: 160px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: $white;
    height: 33px;
    border: 1px solid $white;
    @include border-radius(7px);
    @include transition(color $d $f, background-color $d $f, border-color $d $f);
    &:active {
        bottom: -1px;
    }
    &-green {
        background-color: $green;
        border-color: $green;
    }
    &-ghost {
        background-color: $bg;
        color: $w;
    }
    &-max {
        width: 236px;
    }
    &-144 {
        width: 144px;
    }
    &-auto {
        width: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}
input.button,
button.button {
    line-height: normal;
}


