$footer: 100px;

$fontSize: 16px;
$lineHeight: 22px;
$fontFamily: 'Avenir Next', sans-serif;                        $ff: $fontFamily;

$duration: 0.15s;                               $d: $duration;
$function: cubic-bezier(0.4, 0.0, 0.2, 1);      $f: $function;

$primary: #000000;                              $p: $primary;
$secondary: #000000;                            $s: $secondary;
$tertiary: #000000;                             $t: $tertiary;
$background: #292C33;                           $bg: $background;
$text: #ffffff;                                 $txt: $text;
$link: #ffffff;                                 $l: $link;
$link-hover: #ffffff;                           $lh: $link-hover;



$white: #ffffff;                                $w: $white;
$black: #000000;                                $b: $black;
$dark-gray: #333333;                            $dgr: $dark-gray;
$gray: #999999;                                 $gr: $gray;
$light-gray: #eeeeee;                           $lgr: $light-gray;
$green: #00BC3E;                                $gn: $green;
$red: #EC293F;                                  $r: $red;
$transparent: transparent;                      $tr: $transparent;
$blue: #0091FF;
$yellow: #F8E71C;

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-demi-bold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-black: 900;